services:
  backend:
    image: ${BELAHUB_BACKEND_IMAGE:-leonardodfg12/bela-design-hub-backend:latest}
    container_name: backend
    pull_policy: always
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: Host=postgres;Port=5432;Database=bela_design_hub;Username=postgres;Password=postgres
      Cors__AllowedOrigins: http://frontend:4173;http://localhost:4173
    ports:
      - "8080:8080"

  frontend:
    image: ${BELAHUB_FRONT_IMAGE:-leonardodfg12/bela-design-hub-frontend:latest}
    container_name: frontend
    pull_policy: always
    depends_on:
      backend:
        condition: service_started
    environment:
      VITE_API_BASE_URL: http://backend:8080
    ports:
      - "4173:80"

  postgres:
    image: postgres:16-alpine
    container_name: postgres
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 3s
      retries: 10
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: bela_design_hub
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./sql:/docker-entrypoint-initdb.d:ro
    ports:
      - "5432:5432"

volumes:
  postgres_data:
# Aplicar script de seed
# docker compose -f infra/docker-compose.yml exec postgres psql -U postgres -d bela_design_hub -f /docker-entrypoint-initdb.d/seed-data.sql
